<?php defined('ALTUMCODE') || die() ?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte Linkuum</title>
    <link rel="stylesheet" href="http://localhost/product/themes/altum/assets/css/suporte.css">
</head>
<body>

    <div class="container-principal">

        <div class="infos-dashboard">
            <div class="text-infos">
                    <h1 class="infos">Suporte 24hrs em nosso email</h1>
                    <p class="infos1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type</p>
                    <div class="btns">
                        <button class="dashboard">Acessar Email</button>
                        <!-- <h1 class="linkcre"><?= $this->language->inicio->linkcre?></h1>  -->
                    </div>
            </div>
            <div class="image-container-info">
                <img class="abstratc" src="localhost/product/themes/altum/assets/images/10.png" />
            </div>
        </div>

    </div>
    
</body>
</html>

