.fundocards{
	padding: 40px;
	height: 400px;
}

.logarconta {
	width: 100%;
	background-color: black;
	color: white;
	padding: 7px;
	transition: all 0.4s;
}

.logarconta:hover{
	border: 2px solid black;
	color: black;
	background-color: white;
}

.underlogin {
	margin-top: -34px;
}

.abaixar{
	margin-top: 15px;
}

.form-control {
	padding: 22px !important;
	border: 1px solid black !important;
	border-radius: 3px !important;
	background-color: white !important;
	width: 100%;
}

.welcone {
	color: #EC7791;
}

.under{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.subir {
	margin-top: 6px;
}

.novadiv {
	display: flex;
	align-items: center;
	justify-content: center;
	border-right:1px solid #e5e5e5;
	position:absolute;
	top:0;
	bottom:0;
	height:100%;
	right:0;
	width:43%;
	overflow:hidden;
}

.centralizar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 1000px;
}

.background-imagem {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #EC7791;
	border-right:1px solid #e5e5e5;
	position:absolute;
	top:0;
	bottom:0;
	height:100%;
	left:0;
	width:57%;
	overflow:hidden;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1489' height='178.7' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10.4' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.login-context {
	color: white;
	width: 500px;
	font-size: 80px;
	font-weight: bold;
}


.arrumar {
	width: 60%;
}



