html{ 
    background-color: #f7f7f7;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}


* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    list-style-type: none;
}

